body {
  background-image: url(../images/bg.jpg);
  background-size: 100% 100%;
  color: white;
  margin: 0;
}

.Container {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 300px;
  max-height: 300px;
  padding-bottom: 30.5px;
  align-items: right;
}
.Header {
  position: fixed;
  background: rgb(144, 158, 238);
  width: 100%;
  top: 0;
  text-align: center;
}



ul li {
  list-style-type: none;
}

.posters {
  width: 33%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.description {
  width: 25%;
  margin-top: 10px;
  display: flex;
  margin-left: -44px;
}

.description li {
  background-color: rgba(0, 0, 0, 0.6);;
  height: 300px;
  width: 250px;
  margin-bottom: 35px;
  padding-left: 10px;
}

p {
  font-size: 18px;
}

  
